.frontpage{
    background-color: #f2f2f2;
    color: black;
    height: 100%; 
    height: 100vh;
    width: 100%;
    width: 100vw;
}

.frontpage_main_header{
    background: linear-gradient(0.5turn, #3a3a3a, #5e5e5e);
    border-bottom: 3px solid black;
    border-radius: 10px;
    font-family: Helvetica, sans-serif;
    color: #f2f2f2;
    font-weight: bold;
    font-style: oblique;
    text-align: left;
    margin: 20px;
}

.frontpage_sub_header{
    background: linear-gradient(0.5turn, #3a3a3a, #5e5e5e);
    border-bottom: 3px solid black;
    border-radius: 5px;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 0;
    text-align: left;
}


.flex-container {
    display: flex;
    flex-direction: column;
  }